body {
  margin: 50px 100px;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 20px;
  max-width: 1280px;
}
.logo-title {
  display: flex;
  width: 330px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}
.fa.fa-search {
  position: absolute;
  right: 20px;
  top: 50%;
  bottom: 50%;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  font-size: 32px;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.search-bar-container {
  display: block;
  position: relative;
  margin-bottom: 32px;
}
#search-recipe {
  width: 100%;
  height: 70px;
  background-color: #e7e7e7;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.125rem;
}
nav {
  margin: 20px 0px 25px;
  display: flex;
  gap: 20px;
}
.btn-filter {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  cursor: pointer;
  width: 170px;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn-filter input {
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
.btn-filter input::placeholder {
  color: #fff;
}
.fa-chevron-down {
  color: #fff;
}
#ingrédients-btn {
  background-color: #3382f7;
}
#appareils-btn {
  background-color: #68d9a4;
}
#ustensiles-btn {
  background-color: #ed6454;
}
.recipe-map {
  display: flex;
  flex-direction: column;
  flex: 1 0 calc(25% - 10px);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 7px;
  margin: 0;
  overflow: hidden;
  height: 380px;
  max-width: 410px;
  min-width: 30%;
  transition: 0.3s;
  cursor: pointer;
}
.recipe-map:hover {
  box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%);
}
.recipe-map-picture {
  background-color: #c7bebe;
  flex: 1 0 50%;
}
.recipe-map-details {
  padding: 0px 20px;
  justify-content: space-between;
  background-color: #e7e7e7;
  flex: 1 0 50%;
}
.recipe-map-title {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  gap: 20px;
}
.recipe-map-name {
  font-weight: lighter;
  text-overflow: ellipsis;
  overflow: hidden;
}
.recipe-map-title h2 {
  font-weight: 400;
  font-size: 1.125rem;
}
.recipe-process {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.recipe-ingrédients {
  display: block;
  max-width: 50%;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto";
}
.recipe-description {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  max-height: 98px;
  font-family: "Roboto";
}
.ingrédient-filter-item {
  background-color: #3282f7;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 37px;
  font-size: 14px;
}
.appareil-filter-item {
  color: white;
  background-color: #68d9a4;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 37px;
  font-size: 14px;
}
.ustensil-filter-item {
  background-color: #ed6454;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 37px;
  font-size: 14px;
}
.filter-item {
  flex: 1 1 30%;
  font-size: 18px;
  line-height: 22px;
  padding: 5px;
}
.filter-text {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: fit-content;
}
#recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.dropdown-ingrédients {
  background-color: #3282f7;
}
.dropdown-ustensiles {
  background-color: #ed6454;
}
.dropdown-appareils {
  background-color: #68d9a4;
}
.dropdown-ingrédients,
.dropdown-ustensiles,
.dropdown-appareils {
  display: none;
  position: absolute;
  width: 667px;
  max-height: 328px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-wrap: wrap;
  color: white;
  border-radius: 0 0 5px 5px;
}
